<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
            integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>График обменного курса Рубль>Тенге</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y17F1LVVVY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y17F1LVVVY');
</script>
</head>
<style>
    #num2, #sum, #btn{
    font-size:13pt;
    }
</style>
<body>
{% for item in rows|reverse %}
{% if loop.index <=1 %}
<h3>
    Сегодня {{tdate}}<br/><br/>
    Курс от {{item.date|date_format("%d.%m.%Y")}}
</h3>
<h3>Текущий курс: <b style="letter-spacing: 2px;">{{item.exrate}}</b> тенге за 1 руб.</h3>
<h3>Рассчет обменного курса</h3>
<input type="text" id="num2" placeholder="Сумма в рублях"/> =
<input type="text" id="sum" readonly="readonly"/>
<input type="submit" value="Рассчитать" id="btn" onclick="calc()"/>

<script>
    function calc() {
        let num1 = {{item.exrate}};
        let num2 = Number(document.querySelector("#num2").value);
        let sum = num1 * num2;
        sum = (sum).toFixed(2)
        document.getElementById("sum").value = sum;
    }
    var input = document.getElementById("num2");
    input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    document.getElementById("btn").click();
  }
});
</script>
{% endif %}
{% endfor %}
<div>
    <canvas id="myChart"></canvas>
</div>
<script>
  const data = {
    datasets: [{
      label: 'Тенге за 1 руб.',
    }]
  };

  const config = {
  type: 'line',
  data: {
    datasets: [{
      lineTension: 0.3,
      label: ' ₸ ',
      data: {
      {% for item in rows %}
'{{item.date|date_format("%d.%m.%Y")}}': {{item.exrate}},
{% endfor %}
      },
      backgroundColor: 'rgb(198, 218, 252, 0.5)',
      borderColor: 'rgb(66, 133, 244)',
      fill: true,
      pointRadius: 5,
      pointHoverRadius: 8,
      pointBackgroundColor: 'rgb(66, 133, 244)',
    },
    {
      label: ' ₸ ',
      lineTension: 0.3,
      data: {
      {% for item in rows %}
'{{item.date|date_format("%d.%m.%Y")}}': {{item.exrate}},
{% endfor %}
      },
      borderColor: 'rgb(66, 133, 244)',
      backgroundColor: 'rgb(198, 218, 252, 0.5)',
      yAxisID: 'y1',
    }
    ]
},
  options: {
    aspectRatio: 3.3,
    responsive: true,
    interaction: {
      intersect: false,
      mode: 'index',
    },
    scales: {
      y: {
        type: 'linear',
        display: true,
        position: 'left',
      },
      y1: {
        type: 'linear',
        display: true,
        position: 'right',
        // grid line settings
        grid: {
          drawOnChartArea: false, // only want the grid lines for one axis to show up
        },
      },
    },
    plugins: {
    filler: {
        propagate: false,
      },
      title: {
        display: false,
        text: (ctx) => 'Tooltip position mode: ' + ctx.chart.options.plugins.tooltip.position,
      },
      legend: {
                display: false,
            },
      tooltip: {
                enabled: true,
                padding: 12,
                titleFont: {
                    size: 20
                            },
                bodyFont: {
                    size: 20
                            },
      },
    }
  }
};
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
console.log('Дата: '+'{{tdate}}')
{% for item in rows|reverse %}
{% if loop.index <=1 %}
console.log('Курс с сайта ПС МИР: '+{{rate}})
console.log('Конвертированный курс: '+{{item.exrate}})
{% endif %}
{% endfor %}
console.log('Статус: '+'{{presence}} '+'{{status}}')
console.log('')
console.log('Ссылка: '+'{{uri}}')
console.log('Ответ: '+'{{resp.status_code}}')
</script>
<br/>
<p style="font-size:14pt;">О проекте:<br />
    Сервис автоматически забирает данные с <a href="https://mironline.ru/support/list/kursy_mir/" target="_blank">официального
        сайта ПС "МИР".</a> <br />

    Данные обновляются раз в 4 часа. <br />Формула {% for item in rows|reverse %}
{% if loop.index <=1 %} 1 / {{rate}} ≈ {{item.exrate}}{% endif %}{% endfor %}<br />
    <a href="https://github.com/endlessnights/exrates/commits/master" target="_blank">Обновления сервиса</a>
</p>
<p style="font-size:13pt;">По вопросам и предложениям обращаться: <a href="https://t.me/pycarrot2">Telegram</a></p>
</body>
</html>